<!-- <%= page.layout %> layout -->
<% if (page.title){ %>
<!-- Hide the title but make it accessible -->
<h1 hidden><a href="<%= page.permalink %>"><%= page.title %></a></h1>
<% } %>
<!-- Print the page's content -->
<%- page.content %>
<!-- !<%= page.layout %> layout -->
