    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%
    var title = page.title;
    %>
    <title><%= config.title %><% if (title){ %> | <%= title %><% } %></title>
    <link rel="manifest" href="<%= url_for('site.webmanifest') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= url_for('apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= url_for('favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= url_for('favicon-16x16.png') %>">
    <link rel="manifest" href="<%= url_for('site.webmanifest') %>">
    
    <!-- Custom styles -->
    <%- css_versioned('assets/css/styles') %>
    <!-- Metas -->
    <%- autoCanonical(config, page) %>
    <%- open_graph() %>
